<div class="cabecera">
   <h1>
       MEDFYD
   </h1>
</div>
<app-mega-menu></app-mega-menu>


<div class="row">
    <div class="col-md-3 cuerpo-0">
            <img src="./../../../assets/img/eve.jpg" style="border-radius: 150px 0px 0px 150px;">
    </div>
    <div class="col-md-8 cuerpo">
        <div class="cuerpo-header">
                <h1>
                    <b>Dr. Evelyn Saráuz</b>
                </h1>
        </div>
        <div class="cuerpo-cuerpo">
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>
                            <h5>
                                ESPECIALISTA EN MEDICINA FAMILIAR Y
                                COMUNITARIA MEDIANTE BECA DE
                                INSTITUTO ECUATORIANO DE
                                SEGURIDAD SOCIAL
                            </h5>
                        </li>

                        <li>
                            <h5>
                                CURSO DE REANIMACIÓN CARDIO PULMONAR BÁSICO Y AVANZADO.
                            </h5>
                        </li>
                        <li>
                            <h5>SEMINARIO DE TERAPIA RESPIRATORIA.</h5>
                        </li>
                        <li>
                            <h5>CONGRESO INTERNACIONAL DE ESPECIALIDADES CLÍNICAS Y
                                QUIRÚRGICAS APLICADAS A LA PRÁCTICA DIARIA.
                                </h5>
                        </li>
                      
                    </ul>
                   
                </div>


                <div class="col-md-5">
                    <ul>
                        <li>
                            <h5>
                                CURSO VIRTUAL SOBRE FUNDAMENTOS DE CUIDADOS
                                    PALIATIVOS
                            </h5>
                        </li>

                        <li>
                            <h5>
                                CURSO VIRTUAL DE SALUD Y SEGURIDAD OCUPACIONAL.

                            </h5>
                        </li>
                        <li>
                            <h5>CURSO VIRTUAL - MHGAP HUMANITARIO - COVID-19.
                            </h5>
                        </li>
                        <li>
                            <h5>CURSO VIRTUAL DE PREVENCIÓN SECUNDARIA DE
                                ENFERMEDADES CARDIOVASCULARES PARA EL EQUIPO DEL
                                PRIMER NIVEL DE ATENCIÓN.
                                
                                </h5>
                        </li>

                            <button pButton type="button" 
                            class="p-button-raised p-button-rounded p-button-warning btn-hoja-vida" 
                            label="HOJA DE VIDA"
                            icon="pi pi-eye"
                            (click)="abrirHojaVida()"
                            >
                            </button>
                        
                      
                    </ul>
                    
                </div>


            </div> 
               
        </div>
    </div>
  </div>
